@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body {
    width: 1920px;
    height: 4239px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: "Pretendard";
    color: #000;
}


/* =============================== header =========================== */
header {
    width : 1920px;
    height: 900px;

    background-color: #F2E9D8;
    background-image: url(./Final_Project_IMG/고양이\ 1_top.png);
    background-repeat: no-repeat;
    background-position: left 1185px bottom 0px;
    background-size: 415px;
}

header nav {
    width : 1920px;
    height: 102px;

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}


nav img {
    margin-left: 320px;
}

.link {
    width:205px;
    height: 20px;
    margin-left : 756px;
    margin-right: 49px;
    display: flex;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.download-link {
    box-sizing: border-box;
    
    width: 140px;
    height: 50px;

    background-color: #D97652;

    border-radius: 40px;

    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    color: #FFF;
    padding: 15px 33px 15px 31px;
}

.top {
    
    margin-left : 320px;
    margin-top : 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;    
}

.top :nth-child(1) {
    width: 695px;
    height: 120px;

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.top :nth-child(2) {
    width: 420px;
    height: 86px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* =============================== main =========================== */

/* =========== .sec01 ============ */
.sec01 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
}

.sec01 img {
    width : 660px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}

.sec01 div :nth-child(1) {
    width: 510px;
    height: 135px;
    margin-left: 110px;

    font-size: 36px;
    font-weight: 700px;
    line-height: 45px;
}

.sec01 div :nth-child(2) {
    width: 510px;
    height: 40px;
    margin-top: 30px;
    margin-left: 110px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* =========== .sec02 ============ */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec02 {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.sec02 :nth-child(1) {
    width: 875px;
    height: 60px;
    margin-top: 120px;

    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color : #D97652;
    text-align: center;
}

.sec02 :nth-child(2) {
    width: 710px;
    height: 42px;
    margin-top: 40px;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.sec02 :nth-child(2) span {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color:#D97652;
}

/* =========== .img-groups ============ */
.img-groups {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.img-groups img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0px #00000040;
}

.img-group01 {
    width: 1278px;
    height: 378px;
    margin-top: 88px;

    display: flex;
    gap: 72px;
}

.img-group02 {
    width: 1278px;
    height: 378px;
    margin-top: 72px;
        
    display: flex;
    gap: 72px;
}

.img-text {
    width: 290px;
    height: 108px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 24px;
    font-weight: 700;
    
}

.show-more-btn {
    box-sizing: border-box;
    width : 143px;
    height: 50px;
    border-radius: 40px;
    background-color: #D97652;
    padding: 15px 29px 15px 29px;
    margin-top: 28px;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #FFF;
}

/* =========== hr ============ */

.line {
    width: 1278px;
    height: 1px;
    margin-top: 80px;
    background-color: #C4C4C4;
}

/* =========== .sec04 ============ */

.sec04 {
    width : 1278px;
}

#where {
    width: 263px;
    height: 45px;
    margin-top: 68px;

    text-align: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
}

#addr {
    width: 395px;
    margin-top: 20px;

    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #606367
}

/* =========== map ============ */

#daumRoughmapContainer1724033929202 {
    width : 1278px;
    height: 520px;
    margin-top: 48px;
    margin-left: 0px;
    border-radius: 12px;
    background: #E8E8E8;
}


/* =========== .main-bottom ============ */

.main-bottom {
    display: flex;
    justify-content: right;
    align-items:end;

    width: 1920px;
    height: 340px;
    margin-top: 181px;

    background-image: url(/Final_Project_IMG/main_bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.top-btn {
    width: 50px;
    height: 50px;

    margin-right: 24px;
    margin-bottom: 19px;
}

/* .hover-btn {
    
} */

.top-btn a :hover {
    content: url(./Final_Project_IMG/scroll-top-btn_hover.png);
}

/* =========== .subscribe ============ */
.subscribe {
    width: 1280px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 240px;
    margin-right: 245px;

    border-radius: 30px;
    background-color: #263140;
}

.subscribe h2 {
    width: 448px;
    height: 45px;

    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    color: #FFF;
}

#sub-text {
    width: 471px;
    height: 36px;

    margin-top: 18px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    color : #F2E9D8;
}

.input-email {
    width: 530px;
    height: 60px;
    border-radius: 60px;
    margin-left: 163px;

    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-email img {
    width: 24px;
    height: 24px;

    margin-left: 28px;
}

input {
    border-width: 0; 

    width: 184px;
    
    padding: 0px;
    margin-left: 16px;
}

#input-btn {
    width: 135px;
    height: 50px;
    background-color: #D97652;
    border-radius: 40px;
    margin-left: 137px;

    padding: 15px 29px 15px 29px;

    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    
}



/* =========== footer ============ */
footer {
    width: 1920px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap : 826px;
}

footer img {
    width:226px;
    height: 70px;
}

.footer-icon-group {
    width : 228px;
    height: 42px;

    display: flex;
    justify-content: space-between;
}
.footer-icon-group img {
    width: 42px;
    height: 42px;
}

/* =============== .hover-btn ========= */

